.warp_gft {
    padding: 10px;
    background: #d2d2d2;
    margin-bottom: 10px;
    width: 90%;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 6px #00000017;
}
.warp_gft h6 {
    margin: 0;
    margin-bottom: 10px;
}
.gft_err_token{
    font-size: 12px;
    background: red;
    color: #fff;
    padding: 4px;
    border-radius: 12px;
}
